<div id="container">
    <h2>Beta reduction</h2>
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <p class="error">@ErrorMessage</p>
    }
    @if (_betaNormal)
    {
        <div>
            <h3>Beta normal form</h3>
            <ExpressionWithDiagram LambdaExpression="@Steps[^1]"/>
        </div>
    }

    @for (int i = 0; i < Steps.Count; i++)
    {
        <div>
            <h5>Step @(i + 1)</h5>
            <ExpressionWithDiagram LambdaExpression="@Steps[i]"/>
        </div>
    }

    <div class="placeholder">
    </div>
</div>