:root {
    --theme-color: #2c356c;
    --theme-color-light: #3b4481;
    --theme-color-dark: #252d62;
    --theme-color-darkest: #232752;

    --theme-color-grey: #272e3d;
    --theme-color-grey-light: #3c435b;
    --theme-color-grey-dark: #1e2231;

    --theme-color-accent: #d9c338;

    --theme-color-text: #c4c4c4;
    --theme-color-text-light: #ffffff;
    --theme-color-text-dark: #a2a2a2;

    --theme-color-background: #1a1a2f;

    --menu-item-padding-vertical: 5px;
    --menu-item-padding-horizontal: 10px;

    --theme-font-size-normal: 16px;
    --theme-font-size-small: 14px;
    --theme-font-size-large: 20px;

    --theme-font-family: "Nunito Sans", sans-serif;

    --editor-font-family: "JetBrains Mono", monospace;
    --editor-line-height: 1.4em;
    --editor-color-lambda: #906fff;
    --editor-color-variable: #b4a039;
    --editor-color-parenthesis: var(--theme-color-text);
    --editor-scrollbar-width: thin;

    --top-row-height: 31px;
}

body {
    background-color: var(--theme-color-background);
    color: var(--theme-color-text);
    font-family: var(--theme-font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100,
    "YTLC" 500;

    margin: 0;
    font-size: var(--theme-font-size-normal);


    scrollbar-color: var(--theme-color-light) transparent;
    scrollbar-width: var(--editor-scrollbar-width);

    scroll-margin: var(--editor-line-height);
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

/*#app {*/
/*    height: calc(100% - var(--top-row-height));*/
/*    width: 100%;*/
/*}*/

.invisible {
    opacity: 0;
}

layoutitem {
    display: block;
}

.overscroll {
    overscroll-behavior: contain;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    padding: 1px 0;
    width: fit-content;
}

.overscroll::before {
    content: "";
    display: block;
    position: absolute;
    height: 101%;
    width: 100%;
    top: 0;
    z-index: -1;
}