#line-numbers {
    font-family: var(--editor-font-family);
    color: var(--theme-color-text);
    width: fit-content;
    height: fit-content;
    min-height: calc(100% - 2px);
    padding: 2px 20px 0 20px;
}

#editor {
    position: relative;
    padding: 2px 0 0 5px;
    width: 100%;
    height: fit-content;
    min-height: calc(100% - 2px);
    font-family: var(--editor-font-family);
    overflow-x: auto;
    color: var(--editor-color-variable);
    text-wrap: nowrap;
    white-space: pre;
    cursor: text;

    border-left: 1px solid var(--theme-color-dark);
}

#editor:focus {
    outline: none;
}

#container {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: auto;
    pointer-events: all;
    line-height: var(--editor-line-height);
    user-select: none;
    -webkit-user-select: none;

    scrollbar-color: var(--theme-color-light) transparent;
    scrollbar-width: var(--editor-scrollbar-width);
    scroll-margin: var(--editor-line-height);
}

.lambda {
    color: var(--editor-color-lambda);
    font-weight: 1000;
}

.parenthesis {
    color: var(--editor-color-parenthesis);
}

#cursor::after {
    display: none;
    position: absolute;
    content: " ";
    width: 2px;
    transform: translateX(-1px);
    height: 1.2em;
    background-color: var(--theme-color-text-light);
    cursor: text;
}

#editor:focus[data-idling='true'] #cursor::after {
    animation: blink 1s infinite;
}

#editor:focus[data-idling='false'] #cursor::after {
    animation-play-state: paused;
}

@keyframes blink {
    0%, 50% {
        background-color: var(--theme-color-text-light);
    }
    51%, 100% {
        background-color: transparent;
    }
}

#editor:focus #cursor::after {
    display: inline-block;
}

.placeholder {
    height: calc(var(--editor-line-height) * 5);
    pointer-events: none;
    z-index: -1;
}