@using LambdaWebApp.Components.Menu
@using LambdaWebApp.Components.Editor
@using LambdaWebApp.Components
@inherits LayoutComponentBase

<MenuRow>
    <MenuCategory Name="File">
        hello
    </MenuCategory>
    <MenuCategory Name="Preferences"></MenuCategory>
</MenuRow>

<div id="content">
    <HorizontalDynamicLayout>
        <LayoutItem>
            <TextEditor @ref="_textEditor"></TextEditor>
        </LayoutItem>
        <LayoutItem>
            <VerticalDynamicLayout>
                <LayoutItem>
                    <TextEditor @ref="_errorMessages"></TextEditor>
                </LayoutItem>
                <LayoutItem>
                    <DiagramView @ref="_diagramView"></DiagramView>
                </LayoutItem>
            </VerticalDynamicLayout>
        </LayoutItem>
    </HorizontalDynamicLayout>
</div>
