@using LambdaWebApp.Components.Menu
@using LambdaWebApp.Components.Editor
@using LambdaWebApp.Components
@inherits LayoutComponentBase

<MenuRow>
    <MenuCategory Name="File">
        <MenuButton Name="hello"/>
        <MenuButton Name="hello2"/>
    </MenuCategory>
    <MenuCategory Name="Preferences"></MenuCategory>
    <MenuCategory Name="Contribute">
        <MenuLink Name="GitHub" Href="https://github.com/Schlafhase/WayOfTheLambda"/>
    </MenuCategory>
</MenuRow>

<div id="content">
    <HorizontalDynamicLayout>
        <LayoutItem>
            <TextEditor @ref="_textEditor"></TextEditor>
        </LayoutItem>
        <LayoutItem>
            <VerticalDynamicLayout>
                <LayoutItem>
                    <BetaReductionView @ref="_betaReductionView"></BetaReductionView>
                </LayoutItem>
                <LayoutItem>
                    <h2 id="diagram-header">Diagram</h2>
                    <DiagramView @ref="_diagramView" CameraX="100" CameraY="100"></DiagramView>
                </LayoutItem>
            </VerticalDynamicLayout>
        </LayoutItem>
    </HorizontalDynamicLayout>
</div>
