@using LambdaWebApp.Components
@inherits LayoutComponentBase

<MenuRow>
    <MenuCategory Name="File">
        hello
    </MenuCategory>
    <MenuCategory Name="Preferences"></MenuCategory>
</MenuRow>

<div style="height: 100%">
    </div>